<div style="padding: 4% 5% 4% 5%">
  <p class="pl-5 mb-4 title-text">Berita</p>

  <div class="container">
    <div class="row">
      <div class="col-md-4 px-2 my-3">
        <a routerLink="/berita_detail">
          <div class="card-container">
            <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), #ffdf92);"></div>
            <div class="card-thumbnail">
              <p class="thumbnail-title">Judul Berita</p>
              <p class="thumbnail-date">24 May 2019</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 px-2 my-3">
        <a routerLink="/berita_detail">
          <div class="card-container">
            <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), #ffb7b7);"></div>
            <div class="card-thumbnail">
              <p class="thumbnail-title">Judul Berita</p>
              <p class="thumbnail-date">25 May 2019</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 px-2 my-3">
        <a routerLink="/berita_detail">
          <div class="card-container">
            <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), #b6f2ff);"></div>
            <div class="card-thumbnail">
              <p class="thumbnail-title">Judul Berita</p>
              <p class="thumbnail-date">26 May 2019</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 px-2 my-3">
        <a routerLink="/berita_detail">
          <div class="card-container">
            <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), #fac5ff);"></div>
            <div class="card-thumbnail">
              <p class="thumbnail-title">Judul Berita</p>
              <p class="thumbnail-date">27 May 2019</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 px-2 my-3">
        <a routerLink="/berita_detail">
          <div class="card-container">
            <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), #b6f2ff);"></div>
            <div class="card-thumbnail">
              <p class="thumbnail-title">Judul Berita</p>
              <p class="thumbnail-date">28 May 2019</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 px-2 my-3">
        <a routerLink="/berita_detail">
          <div class="card-container">
            <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), #ffdf92);"></div>
            <div class="card-thumbnail">
              <p class="thumbnail-title">Judul Berita</p>
              <p class="thumbnail-date">29 May 2019</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <nav class="justify-content-center" aria-label="Page navigation example" > 
            <ul class=" mx-auto pagination">
              <li class="page-item px-2 active"><a style="border-radius: 100%" class="page-link" href="#">1</a></li>
              <li class="page-item px-2"><a style="border-radius: 100%" class="page-link" href="#">2</a></li>
              <li class="page-item px-2"><a style="border-radius: 100%" class="page-link" href="#">3</a></li>
            </ul>
          </nav>
    </div>
  </div>
</div>