.text-title {
  color: #545454;
  font-size: 24px;
  font-weight: bold;
}

.text-time {
  color: #C4C4C4;
  font-size: 16px;
}

.text-content {
  color: #545454;
  font-size: 14px;
  text-align: justify;
}

.card-container {
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.2);
  border-radius: 10px;
}

.text-title-lain {
  color: #545454;
  font-size: 18px;
  font-weight: bold;
}

.text-time-lain {
  color: #C4C4C4;
  font-size: 16px;
}

.btn {
  border: 2px solid #0D5EAD !important;
  background-color: white;
  color: #0d5ead;
  font-size: 16px;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: #0D5EAD;
  color: #FFFFFF;
}