@media (min-width: 768px) {
  #landingPageCarousel .carousel-indicators li {
    border-radius: 100%;
    height: 10px;
    width: 10px;
  }

  #landingPageCarousel .carousel-indicators .active {
    border-radius: 35%;
    height:10px;
    width: 20px;
    background-color: #FBCB38;
  }

  #landingPageCarousel .carousel-control-container {
    background-color: #545454;
    padding: 5%;
    border-radius: 100%;
  }

  /* show 4 items */
  #cardCarousel .carousel-inner .active,
  #cardCarousel .carousel-inner .active + .carousel-item,
  #cardCarousel .carousel-inner .active + .carousel-item + .carousel-item,
  #cardCarousel .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  #cardCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  #cardCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  #cardCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, 
  #cardCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  #cardCarousel .carousel-inner .carousel-item-next,
  #cardCarousel .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  #cardCarousel .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  #cardCarousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  #cardCarousel .carousel-item-next.carousel-item-left + .carousel-item,
  #cardCarousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  #cardCarousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  #cardCarousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  #cardCarousel .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;  
    left: 5%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  #cardCarousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  #cardCarousel .carousel-item-prev.carousel-item-right + .carousel-item,
  #cardCarousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  #cardCarousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  #cardCarousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
  }

  #cardCarousel .carousel-control-prev {
    margin-left: -6%;
  }

  #cardCarousel .carousel-control-next {
    margin-right: -6%;
  }

  .carousel-control-prev-icon.light-carousel-control {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23545454' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon.light-carousel-control {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23545454' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

  #cardCarousel .carousel-control-container {
    background-color: #FFFFFF;
    padding: 5%;
    border-radius: 100%;
    box-shadow: 2px 2px 10px 0 rgba(84, 84, 84, 0.2);
  }

  #cardCarousel .card-title {
    font-size: 16px;
    font-weight: bold;
    color: #545454;
  }

  .title-text {
    font-family: 'Roboto', sans-serif;
    color: #545454;
    font-size: 24px;
    font-weight: 600;
    padding-left: 3%;
  }

  .card-feature {
    box-shadow: 0 0 8px rgba(84, 84, 84, 0.2);
    border-radius: 20px;
    flex-grow: 1;
  }

  .card-feature .card-img1-hover,
  .card-feature .card-img2-hover,
  .card-feature .card-img3-hover,
  .card-feature .card-img4-hover {
    display: none;
  }
  
  .card-feature:hover {
    background-color: #0D5EAD;
  }

  .card-feature:hover p {
    color: #FFFFFF;
  }

  .card-feature:hover .card-img1-hover,
  .card-feature:hover .card-img2-hover,
  .card-feature:hover .card-img3-hover,
  .card-feature:hover .card-img4-hover {
    display: inline;
  }

  .card-feature:hover .card-img1,
  .card-feature:hover .card-img2,
  .card-feature:hover .card-img3,
  .card-feature:hover .card-img4 {
    display: none;
  }

  .feature-text {
    color: #545454;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10%; 
  }

  .dropdown-icon {
    width: 8%;
  }

  .dropdown-btn {
    background: none;
    color: #545454;
    box-shadow: 2px 2px 10px 0 rgba(84, 84, 84, 0.2);
    width: 100%;
  }

  .feature-list-container {
    padding: 20%;
    margin: 10%;
    border: 2px solid #545454;
    border-radius: 100%;
  }

  .feature-list-text {
    color: #545454;
    font-weight: bold;
    font-size: 14px;
  }
  
  #positionCarousel .carousel-control-container {
    background-color: #FFFFFF;
    padding: 5%;
    border-radius: 100%;
    box-shadow: 2px 2px 10px 0 rgba(84, 84, 84, 0.2);
  }

  .position-list-container {
    border-radius: 10px;
    border: 2px solid #545454;
  }
}