.title-text {
  font-family: 'Roboto', sans-serif;
  color: #545454;
  font-size: 24px;
  font-weight: 600;
  padding-left: 3%;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
}

.dropdown-btn {
  background: none;
  color: #545454;
  box-shadow: 2px 2px 10px 0 rgba(84, 84, 84, 0.2);
  width: 100%;
}

.dropdown-text {
  font-size: 14px;
}

.card-container {
  border-radius:5%;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0 rgba(84, 84, 84, 0.2);
}

.card-img {
  height: 220px;
  width: 100%;
}

.card-thumbnail {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}


.card-chip {
  display: inline-block;
  width: auto;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

.card-text-label {
  color: #545454;
  font-size: 16px;
  font-weight: bold;
}

.card-text-value {
  color: #545454;
  font-size: 16px;
}

.card-place {
  color: #C4C4C4;
  font-size: 14px;
}