.title-text {
  color: #545454;
  font-size: 24px;
  font-weight: 600;
}

.content-text {
  color: #545454;
  font-size: 14px;
  text-align: justify;
}

.list-group-item:hover {
  cursor: pointer;

}

.list-group-item.active, .list-group-item.active:hover {
  color: #FFFFFF;
}