<html lang="en">
<head>
  <title>Detail Berita | Kementrian Keuangan Republik Indonesia</title>
  <link rel="shortcut icon" type="image/x-icon" href="../Assets/icon/logo-kemenkeu.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="stylesheet" href="../Assets/css/berita_detail.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>

<div ng-include="'header.html'"></div>

<body ng-app="">
  <div style="padding: 5%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 pr-4">
          <div class="w-100 mb-4" style="background-color:#FFDF92; height: 450px; border-radius: 10px;"></div>
          <p class="text-title mb-0">Judul Berita</p>
          <p class="text-time">1 bulan yang lalu</p>
          <p class="text-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-title mb-3">Berita Lainnya</p>
          <div class="card-container mb-3 p-3">
            <p class="text-title-lain m-0">Judul Berita Lainnya</p>
            <p class="text-time-lain m-0">25 May 2019</p>
          </div>
          <div class="card-container mb-3 p-3">
            <p class="text-title-lain m-0">Judul Berita Lainnya</p>
            <p class="text-time-lain m-0">25 May 2019</p>
          </div>
          <div class="card-container mb-3 p-3">
            <p class="text-title-lain m-0">Judul Berita Lainnya</p>
            <p class="text-time-lain m-0">25 May 2019</p>
          </div>
          <div class="card-container mb-3 p-3">
            <p class="text-title-lain m-0">Judul Berita Lainnya</p>
            <p class="text-time-lain m-0">25 May 2019</p>
          </div>
          <div class="card-container mb-3 p-3">
            <p class="text-title-lain m-0">Judul Berita Lainnya</p>
            <p class="text-time-lain m-0">25 May 2019</p>
          </div>
          <a href="berita.html" class="btn w-100 px-5 py-2 mt-3" role="button">Lihat berita lainnya</a>
        </div>
      </div>
    </div>
  </div>
</body>

<div ng-include="'footer.html'"></div>

</html> 