<html lang="en">
<head>
</head>
<body>
    <div class="container-fluid px-5 py-3" style="background-color:#0d5ead">
      <div class="col-md-10">
          <div class="row">
            <div class="col-md-1">
              <img class="mr-2" src="../Assets/icon/logo-kemenkeu.png" alt="image" style="width: 50px; height: 50px">
            </div>
            <div class="col-md-11">
              <a style="color: #FFFFFF; font-size: 14px">Public Private Partnership (PPP Indonesia) - Directorate General of Budget Financing and Risk Management - Ministry of Finance Frans Seda Building 1st Floor Dr. Wahidin Raya Street No. 1. Jakarta 10710 Indonesia. Tel. (62-21) 3865330. Email: pppindonesia@kemenkeu.go.id</a>
            </div>
          </div>
      </div>
    </div>
</body>
</html>