<html lang="en">
<head>
  <title>PJPK | Kementrian Keuangan Republik Indonesia</title>
  <link rel="shortcut icon" type="image/x-icon" href="../Assets/icon/logo-kemenkeu.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="stylesheet" href="../Assets/css/pjpk_page.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body ng-app="">
  <div ng-include="'header.html'"></div>

  <div class="mb-5" style="padding: 5%">
    <p class="title-text pl-3">Untuk PJPK</p>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 pr-2">
          <ul class="list-group" style="box-shadow: 2px 2px 10px 0 rgba(84, 84, 84, 0.2);">
            <li class="list-group-item active">Pengertian PJPK</li>
            <li class="list-group-item">Kerjasama Pemerintah dengan Badan Usaha (KPBU)</li>
            <li class="list-group-item">Proses Bisnis KPBU</li>
            <li class="list-group-item">Tata Cara Pelaksanaan</li>
            <li class="list-group-item">Fasilitas Penyiapan Proyek</li>
            <li class="list-group-item">Proses Bisnis Pemberian PDF</li>
            <li class="list-group-item">Dukungan Kelayakan</li>
            <li class="list-group-item">Prosedur Pemberian Dukungan Kelayakan</li>
            <li class="list-group-item">Kriteria Proyek</li>
            <li class="list-group-item">Dasar Hukum</li>
            <li class="list-group-item">Penjaminan Infrastruktur</li>
            <li class="list-group-item">Pembayaran Ketersediaan Layanan</li>
            <li class="list-group-item">Proses Bisnis</li>
          </ul>
        </div>
        
        <div class="col-md-9 px-2">
          <div class="p-4" style="box-shadow: 2px 2px 10px 0 rgba(84, 84, 84, 0.2);">
            <div class="rounded mb-4" style="overflow: hidden">
              <img class="w-100" src="../Assets/gallery1.jpg" alt="image">
            </div>
            
            <p class="title-text">Kerjasama Pemerintah dengan Badan Usaha (KPBU)</p>

            <p class="content-text">
              Berdasarkan Perpres Nomor 38 Tahun 2015 KPBU merupakan kerjasama pemerintah dan Badan Usaha 
              dalam penyediaan infrastruktur untuk kepentingan umum dengan mengacu pada spesifikasi yang 
              telah ditetapkan sebelumnya oleh menteri/kepala lembaga/kepala daerah/BUMN/BUMD, 
              yang sebagian atau seluruhnya menggunakan sumber daya Badan Usaha dengan memperhatikan 
              pembagian risiko diantara para pihak. Menurut PPP Reference Guide yang diterbitkan oleh 
              Bank Dunia, secara luas KPBU juga didefinisikan sebagai suatu kontrak jangka panjang 
              antara suatu pihak swasta dan suatu badan pemerintah untuk menyediakan suatu aset atau 
              layanan publik, dan berdasarkan kontrak tersebut, pihak swasta menanggung risiko signifkan 
              dan tanggung jawab pengelolaan dengan remunerasi yang ditentukan sesuai kinerja.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div ng-include="'footer.html'"></div>
</body>
</html> 